* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    width: 920px;
    margin: auto;
    margin-top: 10px;
}

header {
    background-color: rgb(229, 127, 255);
    height: 50px;
    margin-bottom: 10px;
}

.blocco1 {
    background-color: burlywood;
    height: 350px;
    margin-bottom: 10px;
}

/*colonne*/
.column-container {
    background-color: rgb(44, 92, 250);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 5px;
}

.riga-top {
    height: 50px;
    background-color: lightskyblue
}

.colonna {
    background-color: lightskyblue;
    float: left;
    width: 20%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centrale {
    width: 58%;
    margin: 10px 1%;
}


footer {
    background-color: purple;
    height: 40px;
    margin-bottom: 10px;
}